html, body {
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

#base {
    background-color: #da0c2c;
    width: 450px;
    height: 550px;
    margin: auto;
    padding: 10px;
}

#screen {
    margin: 10px auto;
    background-color: #dad9d3;
    height: 300px;
    width: 350px;
}

#circles {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.circle {
    border: solid .5px black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.circle#blue{
    background-color: #35abd7;
    width: 85px;
    height: 80px;
}

.circle#green {
    background-color: greenyellow;
}

.circle#yellow{
    background-color:gold;
}

.circle#red{
    background-color: red;
}
